@import
url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body {
    direction: rtl;
    background-color: rgb(0, 0, 0);
    background-image: url("thumbnail_1.jpg.png");
}
.titleB {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Droid Arabic Kufi', serif;
    color: aliceblue;
    width: 140%;
    text-align: center;
    left: 20%;
    font-size: 50px;
    font-weight: 500;
    
}

.container{
    position: absolute;
    background: rgba(20, 16, 252, 0.247);
    height: 5%;
    width: 100%;
    right: 0px;
    
}
.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footerEN{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: rgba(240, 255, 255, 0.758) ;
}
.footerAR{
    font-family: 'Droid Arabic Kufi', serif;
    font-weight: 500;
    color: rgba(240, 255, 255, 0.758) ;
}
  .textField{
    position: absolute;
    width: 300px;
    height: 40px;
    right: 50%;
    transform: translate(50%,0);
  }
  .button-61 {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    height: 36px;
    width: 200px;
    justify-content: center;
    letter-spacing: .0892857em;
    line-height: normal;
    min-width: 64px;
    outline: none;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    will-change: transform,opacity;
    right: 50%;
    transform: translate(50%,0);
  }
  
  .button-61:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
  }
  
  .button-61:disabled {
    background-color: rgba(0, 0, 0, .12);
    box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
    color: rgba(0, 0, 0, .37);
    cursor: default;
    pointer-events: none;
  }
  
  .button-61:not(:disabled) {
    background-color: #8746e1;
  }
  
  .button-61:focus {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
  }
  
  .button-61:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #A46BF5;
  }

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #b41897a2, #c443ee8f);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffffff8f;
    font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.place{
    font-size: 30px;
    color: rgba(255, 57, 57, 0.67);
    font-family: 'Droid Arabic Kufi', serif;
    text-align: center;
}